a img, img {
    border: none
}

.filename, td, th {
    white-space: nowrap
}

.close, .close:focus, .close:hover, .php-file-tree a, a {
    text-decoration: none
}

body, code, div, em, form, html, img, label, li, ol, p, pre, small, span, strong, table, td, th, tr, ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    /*font-size: 100%;*/
    background: 0 0;
    border: none;
    text-decoration: none
}

p, table, ul {
    margin-bottom: 10px
}

html {
    overflow-y: scroll
}

body {
    padding: 0;
}

button, input, select, textarea {
    font-size: inherit;
    font-family: inherit
}

/*da {*/
/*color: #296ea3*/
/*}*/

/*da:hover {*/
/*color: #b00*/
/*}*/

img {
    vertical-align: middle
}

span {
}

small {
    font-size: 11px;
}

ul {
    list-style-type: none;
    margin-left: 0
}

ul li {
    padding: 3px 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

.file-tree-view + #main-table {
    width: 75% !important;
    float: left
}

td, th {
    padding: 4px 7px;
    text-align: left;
    vertical-align: top;
}

#file-browser-form {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 250px);
}


tr:hover td {
    background-color: var(--color-bg-tertiary)
}

.pointer {
    cursor: pointer;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem
}

.table td, .table th {
    padding: .55rem;
    vertical-align: top;
}

.table thead th {
    vertical-align: bottom;
}


.tiff-preview {
    height: 42px;
    -webkit-transition: height 0.1s;
    -moz-transition: height 0.1s;
    -ms-transition: height 0.1s;
    -o-transition: height 0.1s;
    transition: height 0.1s;
}

.hover-visible-only {
    display: none;
}

tr:hover .tiff-preview {
    height: 180px;
}
tr:hover .hover-visible-only {
    display: initial;
}


code, pre {
    display: block;
    margin-bottom: 10px;
    font: 13px/16px Consolas, 'Courier New', Courier, monospace;
    border: 1px dashed #ccc;
    padding: 5px;
    overflow: auto
}

.hidden, .modal {
    display: none
}

.btn, .close {
    font-weight: 700
}

pre.with-hljs {
    padding: 0
}

pre.with-hljs code {
    margin: 0;
    border: 0;
    overflow: visible
}

code.maxheight, pre.maxheight {
    max-height: 512px
}

input[type=checkbox] {
    margin: 0;
    padding: 0
}

.message, .path {
    padding: 4px 7px;
    border: 1px solid #ddd;
}

.fa.fa-caret-right {
    font-size: 1.2em;
    margin: 0 4px;
    vertical-align: middle;
    color: #ececec
}

.fa.fa-home {
    font-size: 1.2em;
    vertical-align: bottom
}

#wrappder {
    min-width: 400px;
    margin: 0 auto
}

#double-panel-container {
    display: flex;
    flex-direction: row;
}

#double-panel-container:nth-child(2) {
    max-width: 50%;
    width: 250px;
}

.path {
    margin-bottom: 10px
}

.right {
    text-align: right
}

.center, .close, .login-form {
    text-align: center
}

.message-container {
    background: var(--color-bg-danger);
    text-overflow: ellipsis;
    cursor: auto;
}
.message-container::before {
    content: 'warning';
    font-family: 'Material Icons';
    font-size: initial;
    padding: 3px 9px;
    vertical-align: sub;
}
.message-container code {
    display: none;
    padding: 3px 9px;
}
.message-container:hover code {
    display: block;
}
.message-container:hover {
    max-height: initial;
}

.message-container.alert-danger {
    background: var(--color-bg-danger);
    background: var(--color-bg-danger);
}
.message-container.alert-danger::before {
    color: var(--color-icon-danger);
}

.message-container.alert-info {
    background: var(--color-bg-warning);
}
.message-container.alert-info::before {
    color: var(--color-icon-warning);
}

.message-container.alert-success {
    background: var(--color-bg-success);
}
.message-container.alert-success::before {
    color: var(--color-icon-success);
}

.btn2{
    color: var(--color-state-focus-border) !important;
    border-color: var(--color-state-focus-border) !important;
}

.btn2:hover{
    background-color: var(--color-state-focus-border) !important;
}



/*.btn:hover {*/
/*color: #b00*/
/*}*/

.preview-img {
    max-width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAKklEQVR42mL5//8/Azbw+PFjrOJMDCSCUQ3EABZc4S0rKzsaSvTTABBgAMyfCMsY4B9iAAAAAElFTkSuQmCC)
}

.inline-actions > a > i {
    font-size: 1em;
    margin-left: 5px;
    background: var(--color-state-focus-border);
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px
}

.preview-video {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 62.5%;
    margin-bottom: 10px
}

.preview-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000
}

.compact-table {
    border: 0;
    width: auto
}

.compact-table td, .compact-table th {
    width: 100px;
    border: 0;
    text-align: center
}

.filename {
    max-width: 420px;
    overflow: hidden;
    text-overflow: ellipsis
}

.break-word {
    word-wrap: break-word;
    /*margin-left: 30px*/
}

.break-word.float-left a {
    color: var(--color-text-tertiary);
}

.break-word + .float-right {
    padding-right: 30px;
    position: relative
}

.break-word + .float-right > a {
    color: var(--color-text-tertiary);
    font-size: 1.2em;
    margin-right: 4px
}

/*.modal {*/
/*position: fixed;*/
/*z-index: 1;*/
/*padding-top: 100px;*/
/*left: 0;*/
/*top: 0;*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow: auto;*/
/*background-color: #000;*/
/*background-color: rgba(0, 0, 0, .4)*/
/*}*/

#editor, .edit-file-actions {
    position: absolute;
    right: 30px
}

/*.modal-content {*/
/*background-color: #fefefe;*/
/*margin: auto;*/
/*padding: 20px;*/
/*border: 1px solid #888;*/
/*width: 80%*/
/*}*/

.close:focus, .close:hover {
    color: var(--color-bg-primary);
    cursor: pointer
}

#editor {
    top: 230px;
    bottom: 5px;
    left: 10px;
    right: 10px;
}


.edit-file-actions > a, .edit-file-actions > button {
    padding: 5px 15px;
    cursor: pointer;
    color: #296ea3;
    border: 1px solid #296ea3
}

.group-btn {
    padding: 2px 6px;
    border: 1px solid;
    cursor: pointer;
    color: #296ea3
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 30px 10px 1px;
    width: 100%;
    color: #000;
    border: 0;
}

.login-form {
    width: 320px;
    margin: 0 auto;
}

.login-form label, .path.login-form input {
    padding: 8px;
    margin: 10px
}

.footer-links {
    background: 0 0;
    border: 0;
    clear: both
}

select[name=lang] {
    border: none;
    position: relative;
    text-transform: uppercase;
    left: -30%;
    top: 12px;
}

input[type=search] {
    height: 30px;
    margin: 5px;
    width: 80%;
}

.path.login-form input[type=submit] {
    background-color: #4285f4;
    color: #fff;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
    pointer-events: none
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto
}

.modalDialog > .model-wrapper {
    max-width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 15px;
    border-radius: 2px;
}

.close {
    float: right;
    color: #000;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    border-radius: 0 5px 0 0;
    font-size: 18px
}

.close:hover {
    background: #e4e4e4
}

.modalDialog p {
    line-height: 30px
}

div#searchresultWrapper {
    max-height: 320px;
    overflow: auto
}

div#searchresultWrapper li {
    margin: 8px 0;
    list-style: none
}

li.file:before, li.folder:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f016";
    margin-right: 5px
}

li.folder:before {
    content: "\f114"
}

i.fa.fa-folder-o {
    color: #eeaf4b
}

i.fa.fa-picture-o {
    color: #26b99a
}

i.fa.fa-file-archive-o {
    color: #da7d7d
}

.footer-links i.fa.fa-file-archive-o {
    color: #296ea3
}

i.fa.fa-css3 {
    color: #f36fa0
}

i.fa.fa-file-code-o {
    color: #ec6630
}

i.fa.fa-code {
    color: #cc4b4c
}

i.fa.fa-file-text-o {
    color: #0096e6
}

i.fa.fa-html5 {
    color: #d75e72
}

i.fa.fa-file-excel-o {
    color: #09c55d
}

i.fa.fa-file-powerpoint-o {
    color: #f6712e
}

.file-tree-view {
    width: 24%;
    float: left;
    overflow: auto;
    border-right: 0;
}

.file-tree-view .tree-title {
    padding: 9px 2px 9px 10px;
    font-weight: 700
}

.file-tree-view ul {
    margin-left: 15px;
    margin-bottom: 0
}

.file-tree-view i {
    padding-right: 3px
}

.php-file-tree {
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-left: 5px !important
}

.php-file-tree a {
    color: #296ea3
}

.php-file-tree A:hover {
    color: #b00
}

.php-file-tree .open {
    font-style: italic;
    color: #2183ce
}

.php-file-tree .closed {
    font-style: normal
}

#file-tree-view::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5
}

#file-tree-view::-webkit-scrollbar-track {
    border-radius: 10px;

}

#file-tree-view::-webkit-scrollbar-thumb {
    border-radius: 10px;

}

#file-tree-view::-webkit-scrollbar-thumb:hover {
}

#file-tree-view::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA)
}


/*** TAGGLE ***/
.taggle_list {
    padding: 0;
    margin: 0;
    line-height: 2.5;
    width: 100%;
}

.taggle_input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.taggle_list li {
    display: inline;
    vertical-align: baseline;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 5px;
}

.taggle_list .taggle {
    margin-right: 8px;
    background: #E2E1DF;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.taggle_list .taggle_hot {
    background: #cac8c4;
}

.taggle_list .taggle .close {
    font-size: 1.1rem;
    position: absolute;
    top: 10px;
    right: 3px;
    text-decoration: none;
    padding: 0;
    line-height: 0.5;
    color: #ccc;
    color: rgba(0, 0, 0, 0.2);
    padding-bottom: 4px;
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.taggle_list .taggle:hover {
    padding: 5px;
    padding-right: 15px;
    background: #ccc;
    transition: all .3s;
}

.taggle_list .taggle:hover > .close {
    opacity: 1;
    pointer-events: auto;
}

.taggle_list .taggle .close:hover {
    color: #990033;
}

.taggle_placeholder {
    position: absolute;
    color: #CCC;
    top: 24px;
    left: 16px;
    transition: opacity, .25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taggle_input {
    padding: 8px;
    padding-left: 0;
    margin-top: -5px;
    background: none;
    max-width: 100%;
}

.taggle_sizer {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
}