.viewer-config-container {
    position: sticky;
    height: 100vh;
    top: 0;
}

#viewer-config-banner {

}

/*.layer-skew {*/
/*    transform:rotate3d(52, -316, 206, -902deg) translate(-51px, 183px);*/
/*    width: 100%;*/
/*    transform-origin: 0 0 15px;*/
/*    margin-left: 100%;*/
/*    -webkit-box-shadow: 0px 0px 4px 1px rgb(255 204 0);*/
/*    -moz-box-shadow: 0px 0px 4px 1px rgba(255,204,0,1);*/
/*    box-shadow: 0px 0px 4px 1px rgb(255 204 0);*/
/*}*/

#viewer-config-banner-image {
}

.banner-container {
    width: 100%;
    overflow: hidden;
    max-height: 200px;
}

.banner-container img.banner-image {
    width: 100%;

}

#viewer-config-shader-setup {
    position: relative;
    overflow: hidden;
}

.preview::after {
    content: 'Drag layers here';
    line-height: 45px;
    color: var(--color-icon-secondary);
    display: block;
    border: 1px dashed var(--color-icon-secondary);
    margin-top: 7px;
    border-radius: 4px;
    font-size: 19px;
    text-align: center;
}
.preview {

}
.preview.drag-focus::after {
    line-height: 75px;
}
.preview.drag-focus {
}
.preview div {
    height: 80px;
}
/*.preview > * {*/
/*    display: none !important;*/
/*}*/

/*.viewer-config-draggable:active {*/
/*    opacity: 1;*/
/*    border: 2px solid;*/
/*}*/